#sidebar {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 87.8%;
  width: 40%;
  padding: 5%;
  background-color: white;
  border-radius: 1em 0 0 1em;
  border: 2px solid black;
}
.slide-in {
  animation-duration: 0.8s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    right: -60%;
  }
  to {
    right: 0%;
  }
}

.slide-out {
  animation-duration: 0.8s;
  animation-name: slideout;
}
@keyframes slideout {
  from {
    right: 0%;
  }
  to {
    right: -60%;
  }
}
